<%- include("header") -%>
<div class="aboutpage">

    <div class="aboutme-div">
      <div class="information-div">
        <div class="overflow"><h1 id="element8" class="intro-animation-about" style="color: black;">PERSONAL INFORMATION</h1></div>
        <hr style="width: 100%; margin-bottom: 50px;">
        <div class="overflow"><h1 id="element9" class="intro-animation-about"><span>NAME:  </span>BHUVANESH RAJ K P</h1></div>
        <div class="overflow"><h1 id="element10" class="intro-animation-about"><span>AGE:  </span>19</h1></div>
        <div class="overflow"><h1 id="element11" class="intro-animation-about"><span>QUALIFICATION: </span>Computer Science And Engineering</h1></div>
        <div class="overflow"><h1 id="element12" class="intro-animation-about"><span>PROFESSION: </span>Software engineer</h1></div>
      </div>
      <div class="face-div">
        <img style="border-radius: 1550px;border: black 2px solid; height: 400px;margin-bottom: 20px;margin-right: 50px;" src="/website pngs/Bhuvanesh raj.jp" alt="Bhuvanesh raj image">
      </div>
    </div>


    <div class="second-container ">
      <div class="overflow"><h2 id="element1" class="intro-animation-about" style="color: rgb(22, 3, 43);">SKILLS</h2></div>
        <hr>
        <ol>
          <div class="overflow"><li id="element2" class="intro-animation-about" ><h3 >WEB DEVELOPEMENT</h3></li>
          </div>
          <div class="overflow"><p id="element3" class="intro-animation-about">
            As a passionate and skilled full-stack web developer, Bhuvanesh raj is a tech enthusiast with a strong background in building dynamic and user-friendly web applications. With 1.5 year of experience in the field, i have successfully delivered a wide range of projects from concept to completion.   Technical Skills:

            Front-end Development: HTML ,CSS, JAVASCRIPT,BOOTSTRAP,JQUERRY .
            Back-end Development: node js ,express js ,mongo Db with mongoose ,Ejs
            Database: SQL AND MONGO DB WITH MONGOOSE
            Version Control: git for version control systems 
            Deployment and Hosting: git HUB</p></div>
          
            <hr>
          <div class="overflow">
          <li id="element4" class="intro-animation-about "><h3>3D MODELING</h3></li></div>
          <div class="overflow"><p id="element5" class="intro-animation-about">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </p></div>
          <hr>
          <div class="overflow"><li id="element6" class="intro-animation-about"><h3>VIDEO EDITING</h3></li></div>
          <div class="overflow"><p id="element7" class="intro-animation-about">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p></div>
        </ol>
     </div>
</div>    
<script>
      const element1=document.getElementById("element1");
      const element2=document.getElementById("element2");
      const element3=document.getElementById("element3");
      const element4=document.getElementById("element4");
      const element5=document.getElementById("element5");
      const element6=document.getElementById("element6");
      const element7=document.getElementById("element7");
      const element8=document.getElementById("element8");
      const element9=document.getElementById("element9");
      const element10=document.getElementById("element10");
      const element11=document.getElementById("element11");
      const element12=document.getElementById("element12");
      const elements=[element1,element2,element3,element4,element5,element6,element7,element8,element9,element10,element11,element12];
      element8.classList.add("intro-animation-remover");
      element9.classList.add("intro-animation-remover");
      element10.classList.add("intro-animation-remover");      
      element11.classList.add("intro-animation-remover");      
      element12.classList.add("intro-animation-remover");      
      
      window.addEventListener("scroll",function(){
        const y=this.scrollY.toFixed();
        console.log(y);
        if(y>=80){
          element1.classList.add("intro-animation-remover");
          if(y>=200){
            element2.classList.add("intro-animation-remover");
            if(y>=280){
              element3.classList.add("intro-animation-remover");
              if(y>=640){
                element4.classList.add("intro-animation-remover");
                if(y>=720){
                  element5.classList.add("intro-animation-remover");
                  if(y>=1040){
                    element6.classList.add("intro-animation-remover");
                    if(y>=1155){
                       element7.classList.add("intro-animation-remover");

                    }
                  }
                }
              }
            }
          }
        }
    });
</script>

<%- include("footer") -%>
