<%- include("header")  -%>
<div class="second-main" style="overflow-x: hidden;">
    <div class="input-container">
        <form target="/Compose" method="post">
          <h3>Tittle:</h3>  
          <input type="text"  name="tittle">
          <h3>Content: </h3>  
          <textarea  class="content"  name="content" rows="5" cols="61">
            </textarea>
          
          <button type="submit">SUBMIT</button>
        </form>
    </div>

</div>


<%- include("footer")  -%>


