<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
   
    <link rel="stylesheet" href="css/styles.css">

   
</head>
<body>

    <header class="header">
        <a class="logo">Folio</a>
        <nav>
            <a href="/">HOME</a>
            <a href="About">ABOUT</a>
            <a href="Blog">Blog</a>
            <a href="#">PROJECTS</a>
            <a href="Contact">CONTACT</a>
        </nav>
    </header>
<script>
    const header=document.querySelector("header");
    window.addEventListener("scroll",function(){
          const y=this.scrollY.toFixed();
          if(y>=300){
             header.style.position="absolute";
          }
          else{
            header.style.position="fixed";
          }
    });

</script>   