<%- include("header") -%>
<div class="page">
    <div class="main-contatiner">
        <div class="text-content">
            <h1 class="first" >Hey! Glad to see you!</h1>
            <h1 class="h1">I'm Bhuvanesh raj</h1>
            <h2>I'm a <span></span></h2>
            <h3>Welcome to my web page___</h3>
            <div class="button-div">
                <button  class="first-button" >Let's Go</button>
                <a style="text-decoration: none;" href="/RESUME/Bhuvanesh Resume.pdf" download="BHUVANESH RAJ RESME"><button class="second-button">Download CV</button></a>
            </div>
         </div>
        <div class="image-content">
      </div>
    </div>
<%- include("footer") -%>