body{
    background-color: rgb(249, 249, 249);
}
.container{
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 50px;
}
p{

    position: relative;
}
h1{
    position: relative;
}
.overflow{
    overflow: hidden;
}

p::after,h1::after{
    content: "";
    position: absolute;
    right: -100px;
    height: 150%;
    width: 255%;
    top: 0;
    transform: skewX(-50deg);
    background-color: aqua;
}

p::after{
    animation: ani 2s forwards linear 0.8s;
}
h1::after{
    animation: ani 2s forwards linear 0.2s;
}

@keyframes ani {
  to{
    width: 0;
  }    
}